[submodule "CppProjectTemplate"]
	path = CppProjectTemplate
	url = https://github.com/franneck94/CppProjectTemplate.git
[submodule "Learning/CMakeLearning/CMake_GTest_Submodules/googletest"]
	path = Learning/CMakeLearning/CMake_GTest_Submodules/googletest
	url = https://github.com/google/googletest.git
